<div class="container">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" type="number" />
    </mat-form-field>
  </form>

  <button mat-button (click)="submitForm()">Submit</button>

  <div>
    <h2>Form Values</h2>
    <div>First Name: {{ form.value.firstName }}</div>
    <div>Last Name: {{ form.value.lastName }}</div>
    <div>Age: {{ form.value.age }}</div>
  </div>
</div>
